.container {
    display: flex;
  }
  
  .container > div {
    padding: 20px;
  }
  
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  .desc {
    margin-bottom: 20px;
  }
  
  .social-container {
    display: flex;
  }
  
  .social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  
  .social-icon > svg {
    font-size: 20px;
  }
  
  .social-icon.facebook {
    background-color: #3b5999;
  }
  
  .social-icon.instagram {
    background-color: #e4405f;
  }
  
  .social-icon.twitter {
    background-color: #55acee;
  }
  
  .social-icon.pinterest {
    background-color: #e60023;
  }
  
  .center {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    margin-bottom: 30px;
  }
  
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .list-item {
    width: 50%;
    margin-bottom: 10px;
  }
  
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .contact-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .contact-item > svg {
    margin-right: 10px;
  }
  
  .payment {
    width: 50%;
    align-self: center;
    margin-top: 20px;
  }
  